# Analytics on the Sparkify Database
This notebook will run sample queries to verify the results.

In [1]:
# import necessary libraries
from config import *
import boto3
import json

%load_ext sql

In [2]:
# save your DWH_ENDPOINT here:
DWH_ROLE_ARN = 'arn:aws:iam::668154071669:role/dwhRoleAWS'
DWH_ENDPOINT = 'dwh-cluster.chdtd6v9ys8s.us-west-2.redshift.amazonaws.com'

In [3]:
# creating connection to your DB in Amazon Redshift
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwh-cluster.chdtd6v9ys8s.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [4]:
%%sql
select t.table_name
from information_schema.tables t
where t.table_schema = 'sparkify'
order by t.table_name;

 * postgresql://dwhuser:***@dwh-cluster.chdtd6v9ys8s.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('log_staging',),
 ('song_staging',),
 ('songplays',),
 ('songs',),
 ('time',),
 ('users',)]

In [7]:
query = """
SELECT s.title, a.name
FROM {}.songplays sp
INNER JOIN {}.songs s ON s.song_id = sp.song_id
INNER JOIN {}.artists a ON a.artist_id = sp.artist_id
GROUP BY a.name, s.title
LIMIT 10
""".format(DWH_SCHEMA, DWH_SCHEMA, DWH_SCHEMA)
%sql $query

 * postgresql://dwhuser:***@dwh-cluster.chdtd6v9ys8s.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Fearless', 'Falling Up'),
 ('Suena ("Some Day" end title song "The Hunchback of Notre Dame")', 'Luis Miguel'),
 ('Speed Of Sound', 'Chris Bell'),
 ('Halloween', 'John Carpenter'),
 ('Romeo And Juliet', 'Cliff Eberhardt'),
 ('Someday', 'Max Melvin'),
 ('Tha', 'Polygon Window'),
 ('Panama (Remastered Album Version)', 'Van Halen'),
 ('Change', 'The Warren Brothers'),
 ('Smile', 'Xcultures')]

In [8]:
query = """
SELECT name,location
FROM {}.artists
LIMIT 10
""".format(DWH_SCHEMA)
%sql $query

 * postgresql://dwhuser:***@dwh-cluster.chdtd6v9ys8s.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('And Also the Trees', ''),
 ('BeLounge', 'New Jersey'),
 ('Annihilator', ''),
 ('Beatfreakz', 'London, England'),
 ('Lars Frederiksen And The Bastards', ''),
 ('Peter And Gordon', 'London, England'),
 ('Simon & Garfunkel', 'Forest Hills, Queens, New York City, NY, USA'),
 ('Matisyahu', 'Brooklyn, NY'),
 ('Sido', 'Berlin, Germany'),
 ('The Adverts', '')]